.container-contato {
    width: 100%;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
}

.title-contato {
    color: #1a1a1a;
    font-size: 3.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contato-item {
    color: #333;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 4rem;
}