#btn-open-menu {
  display: none;
}
#hamburger-open-menu {
  display: none;
}
.nav-sider {
  width: 100%;
  padding-bottom: 30px;
  padding-left: 10px;
  border-top-right-radius: 3px;
}

.sider-menu {
  width: 100%;
  list-style: none;
}

.label-sider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #222;
}

.label-sider-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  transition: all 0.3s;
  color: #edba00;
  border-bottom: 1px solid #edba00;
}

.label-sider:hover {
  opacity: 0.8;
}

.sub-item {
  width: 100%;
  padding-left: 20px;
  list-style: none;
}

.link-sider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: #444;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.link-sider:hover {
  text-decoration: underline;
}

.tab-catalog {
  background-color: #fcfcfc;
  color: #1a1a1a;
  border-radius: 1px;
  height: min-content;
}

.title-tab-product {
  font-family: "Anton", sans-serif !important;
  font-size: 2rem !important;
}

.tab-product-content {
  padding: 30px;
}

.desc-tab-span {
  font-family: "Saira Extra Condensed", sans-serif !important;
  font-size: 2.4rem;
  font-weight: 500;
  color: #444;
}

.medida-title {
  font-family: "Saira Extra Condensed", sans-serif !important;
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  color: #222 !important;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.medida-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 25px;
  justify-content: center;
  justify-items: center;
}

.title-medida-product {
  font-family: "Saira Extra Condensed", sans-serif !important;
  font-size: 1.8rem !important;
  font-weight: 700 !important;
}

.desc-medida-product {
  font-family: "Saira Extra Condensed", sans-serif !important;
  font-size: 1.6rem !important;
}

.medida-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.medida-img {
  height: 100px;
}

.medida-table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 380px));
  grid-gap: 15px;
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
}

.medida-grid-table-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-medida {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.table-medida thead tr td {
  font-family: "Saira Extra Condensed", sans-serif !important;
  font-size: 1.8rem;
  font-weight: 600;
  border-left: 1px solid rgb(161, 161, 161);
  border-top: 1px solid rgb(161, 161, 161);
  border-bottom: 1px solid rgb(161, 161, 161);
}

.table-medida tbody tr td {
  font-family: "Saira Extra Condensed", sans-serif !important;
  font-size: 1.5rem;
  padding: 1px;
  border-left: 1px solid rgb(161, 161, 161);
  border-bottom: 1px solid rgb(161, 161, 161);
}

.table-medida thead tr td:last-child {
  border-right: 1px solid rgb(161, 161, 161);
}

.table-medida tbody tr td:last-child {
  border-right: 1px solid rgb(161, 161, 161);
}

.medida-video-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-medida {
  width: 60vw;
  height: 70vh;
}

.modal-container-medida {
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  height: 95vh;
}

.modal-medida {
  width: 60%;
  max-height: 97%;
}

.modal-header-medida {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.btn-close-modal-medida {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 8px;
  color: #1a1a1a;
  transition: all 0.3s;
}

.btn-close-modal-medida:hover {
  transform: scale(1.03);
}

.modal-medida-content {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-medida-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
  height: 12%;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-medida-footer-desc {
  font-family: "Saira Extra Condensed", sans-serif !important;
  font-size: 1.9rem;
  padding-left: 10px;
}

.modal-medida-footer-btn {
  background-color: orangered;
  border: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  padding: 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s;
}

.modal-medida-footer-btn:hover {
  transform: scale(1.03);
}

.modal-medida-footer-btn:active {
  transform: scale(1);
}

.img-modal-medida {
  height: 73vh;
  max-height: 73vh;
}

@media (max-width: 840px) {
  .modal-medida-footer-desc {
    font-size: 1.6rem;
  }
  .modal-medida-footer-btn {
    height: 4rem;
    font-size: 1.7rem;
  }
  .modal-medida {
    width: 70%;
  }
}

@media (max-width: 700px) {
  #btn-open-menu {
    display: block;
  }
  .nav-sider {
    display: block;
    width: 50%;
    position: fixed !important;
    overflow: auto;
    margin-left: -100%;
    transition: all 0.4s;
    box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 0;
    border-radius: 0;
    z-index: 1000;
    top: 50px;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 680px) {
  .medida-table-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 625px) {
  .modal-medida {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .nav-sider {
    width: 70%;
  }
  .medida-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .video-medida {
    height: 50vh;
  }
}

@media (max-width: 475px) {
  .modal-medida-footer-btn {
    height: 3.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 435px) {
  .modal-medida-footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
  .img-modal-medida {
    height: 69vh;
  }
  .modal-medida-footer-desc {
    font-size: 1.9rem;
    text-align: center;
  }
}

@media (max-width: 355px) {
  .img-modal-medida {
    height: 67vh;
  }
  .modal-medida-footer {
    margin-top: 10px;
  }
  .modal-medida {
    width: 95%;
  }
}
