.newsletter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 30px;
}

.newsletter-fixed-layout {
  width: 100%;
  max-width: 1380px;
}

.newsletter-title {
  width: 100%;
  font-family: "Berlin Sans FB";
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.container-grid {
  width: 100%;
}

.grid-inputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7px;
  margin-bottom: 7px;
}

.newsletter-inputs-container {
  width: 100%;
  display: block;
}

.row-total {
  grid-column-start: 1;
  grid-column-end: 4;
}

.buttons-grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-send {
  width: 100%;
  height: 40px;
  background-color: #1a1a1a;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  grid-column-start: 1;
  grid-column-end: 4;
  transition: all 0.3s;
  margin-top: 12px;
}

.secondary-input {
  padding: 5px !important;
  color: #444 !important;
  border: 1px solid #ddd !important;
  font-size: 1.4rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  width: 100% !important;
  border-radius: 4px !important;
  background-color: #fcfcfc !important;
}

.btn-send-close {
  width: 150px;
  height: 40px;
  background-color: #1a1a1a;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  grid-column-start: 1;
  grid-column-end: 4;
  transition: all 0.3s;
  margin-top: 12px;
}

.btn-send:hover {
  transform: scale(1.02);
}

.btn-send:active {
  transform: scale(1);
}

.btn-send-close:hover {
  transform: scale(1.02);
}

.btn-send-close:active {
  transform: scale(1);
}

.btn-whatsapp {
  height: 6rem;
  width: 6rem;
  background-color: #388e3c;
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 3.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.btn-whatsapp:hover {
  opacity: 0.9;
}

.btn-whatsapp:active {
  transform: scale(0.99);
}

.background-gray {
  background-color: #f1f1f1;
}

.footer {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
}

.footer-fixed-layout {
  width: 100%;
  max-width: 1380px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  grid-gap: 15px;
  padding: 30px 40px;
  justify-content: center;
}

.container-footer-items,
.others-media {
  width: 100%;
}

.footer-title {
  display: block;
  font-family: "Berlin Sans FB";
  font-size: 2rem;
  font-weight: 600;
  color: #edba00;
  margin-bottom: 15px;
}

.icons-social:hover {
  opacity: 0.8;
}

.social-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.footer-links {
  text-decoration: none;
  color: #f6f6f6;
  display: block;
  line-height: 25px;
  font-size: 1.4rem;
}

.obs-footer {
  color: #f6f6f6;
  display: block;
  line-height: 25px;
  font-size: 1.4rem;
}

.footer-links:hover {
  opacity: 0.8;
}

.company {
  width: 100%;
  background-color: #1a1a1a;
  color: #f6f6f6;
  text-align: center;
  border-top: 1px solid #edba00;
  padding: 15px;
}

.grid-newslatter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.whatsapp-img {
  width: 60px;
  fill: white;
}

.btn-whatsapp-grid {
  background: #388e3c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 4rem;
  font-family: "Anton", sans-serif;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

.btn-whatsapp-grid:hover {
  transform: scale(1.02);
}

.btn-whatsapp-grid:active {
  transform: scale(1);
}

@media (max-width: 850px) {
  .grid-newslatter-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .grid-inputs {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .grid-newslatter-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 465px) {
  .btn-whatsapp-grid {
    font-size: 2rem;
    width: 100%;
  }
}
