.nav-sider {
  width: 100%;
  border: 1px solid #ddd;
  padding-bottom: 30px;
  padding-left: 10px;
  background-color: #fff;
}

.sider-menu {
  width: 100%;
  list-style: none;
}

.label-sider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.sub-item {
  width: 100%;
  padding-left: 20px;
  list-style: none;
}

.link-sider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #444;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.link-sider:hover {
  text-decoration: underline;
}
